.venv/
.venv2/
main_new.py
result.py
.env
some_script.py
google_poligon.py
database.json
creds.json
old_tokens.json
.idea/
__pycache__/
poligon.py
tokens.json
creds_sopost.json
table_status.py
barcode_search.py
aio_database.json
aio_poligon.py
revenue_database.json
clean_revenue.py
orders_data.json
useful_data.py
database/poligon.py
database_poligon.py
tariffs_fbo.py
add_article_in_db.py
headers_save.py
add_revenue_and_orders.py
async_db_poligon.py
database/app.log
response_1731576340477.json
russian_cities.json
resut_data_city.json
add_data_from_table.py
logging
kostya_script.py
kostya_utils.py
